.todo{
    min-height: 100vh;
    width: 100%;
}
.light-bg{
    background-image: url("../../images/bg-desktop-light.jpg");
}
.dark-bg{
    background-image: url("../../images/bg-desktop-dark.jpg");
}
.top{
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom{
    height: 70vh;
    background-color: black;
}